<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Car Event</title>
</head>
<body>

<p>
<h2>Add New Car Event</h2>
</p>


<form action="#" th:action="@{'/carevents/add-carevent/' + ${car.getCustomerCarID()}}" th:object="${carEvent}" method="post">

    <table>

        <div class="col-sm-4">

            <select class="form-group" name="procedures" id="procedures" multiple="multiple">

                <option
                        th:each="procedure :${allProcedures}"
                        th:value="${procedure.getProcedureID()}"
                        th:text="${procedure.getProcedureName()}">
                </option>
            </select>
        </div>

        <tr>
        <td><input type="hidden" th:value="${car.getCustomerCarID()}" th:attr="name= 'customerCar'"/></td>
        </tr>

        <tr>
            <td><input type="submit" value="Save"/></td>
        </tr>
    </table>


</form>


</body>
</html>
