<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Procedure</title>
</head>
<body>

<h2>Add New Procedure</h2>

<form action="#" th:action="@{/procedures/add-procedure}" th:object="${procedure}" method="post">

    <table>
        <tr>
            <td><label th:text="#{label.addProcedureName}">Procedure Name:</label></td>
            <td><input type="text" th:field="*{procedureName}"/></td>
        </tr>
        <tr>
            <td><label th:text="#{label.addProcedurePrice}">Procedure Price:</label></td>
            <td><input type="text" th:field="*{procedurePrice}"/></td>
        </tr>
        <tr>
            <td><input type="submit" value="Save"/></td>
        </tr>
    </table>
</form>


</body>
</html>