<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Procedure Visit</title>
</head>
<body>
<p>
<h2>Add New Car Event</h2>
</p>

<form action="#" th:action="@{/carevents/add-procedurevisit}" th:object="${procedureVisit}" method="post">

    <table>

        <tr>
            <td><label th:text="#{label.CarEvent}">Car Event</label></td>
            <td>
                <div class="form-group">
                    <select th:field="*{carEvent}" >
                        <!--<option >-&#45;&#45; Select -&#45;&#45;</option>-->
                        <option th:each="carEvent : ${allcarEvents}"
                                th:value="${carEvent.getCarEventID()}"
                                th:text="${carEvent.getDate() + ' - '+ carEvent.getCustomerCar().getModel().getModelName() + ' ' + carEvent.getCustomerCar().getModel().getModelName() + ' - '+ carEvent.getCustomerCar().getLicensePlate()}">Wireframe
                        </option>
                    </select>
                </div>
            </td>

        </tr>

        <tr>
            <td><label th:text="#{label.CarEvent}">Car Event</label></td>
            <td>
                <div class="form-group">
                    <select th:field="*{procedure}">
                        <!--<option >-&#45;&#45; Select -&#45;&#45;</option>-->
                        <option th:each="currentProcedure : ${allProcedures}"
                                th:value="${currentProcedure.getProcedureName()}"
                                th:text="${currentProcedure.getProcedureName()}">Wireframe
                        </option>
                    </select>
                </div>
            </td>

        </tr>


        <!--<tr>-->
        <!--<td><label th:text="#{label.customerName}">Country</label></td>-->
        <!--<td>-->
        <!--<th th:each="car : ${allCustomerCars}">-->
        <!--<input type="checkbox" th:field="*{customerCar}" name="cers" th:value="${car.getCustomerCarID()}"/>-->
        <!--<label th:text="${car.getCustomer().getName() + ' - '+ car.getModel().getMake().getMakeName() + ' ' + car.getModel().getModelName() + ' - '+ car.getLicensePlate()}"></label>-->
        <!--</th>-->
        <!--</td>-->

        <!--</tr>-->




        <tr>
            <td><input type="submit" value="Save"/></td>
        </tr>
    </table>


</form>

</body>
</html>