<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Car Event</title>
</head>
<body>

<p>
<h2>Add New Car Event</h2>
</p>

<form action="#" th:action="@{/carevents/add-carevent}" th:object="${carEvent}" method="post">

<table>

    <tr>
        <td><label th:text="#{label.CustomerCar}">Customer Car</label></td>
        <td>
            <div class="form-group">
                <select th:field="*{customerCar}" >
                    <!--<option >-&#45;&#45; Select -&#45;&#45;</option>-->
                    <option th:each="car : ${allCustomerCars}"
                            th:value="${car.getCustomerCarID()}"
                            th:text="${car.getCustomer().getName() + ' - '+ car.getModel().getMake().getMakeName() + ' ' + car.getModel().getModelName() + ' - '+ car.getLicensePlate()}">Wireframe
                    </option>
                </select>
            </div>
        </td>

    </tr>


    <!--<tr>-->
        <!--<td><label th:text="#{label.customerName}">Country</label></td>-->
        <!--<td>-->
            <!--<th th:each="car : ${allCustomerCars}">-->
                <!--<input type="checkbox" th:field="*{customerCar}" name="cers" th:value="${car.getCustomerCarID()}"/>-->
                <!--<label th:text="${car.getCustomer().getName() + ' - '+ car.getModel().getMake().getMakeName() + ' ' + car.getModel().getModelName() + ' - '+ car.getLicensePlate()}"></label>-->
            <!--</th>-->
        <!--</td>-->

    <!--</tr>-->

    <div class="col-sm-4">

        <select class="form-group" name="procedures" id="procedures" multiple="multiple">

            <option
                    th:each="procedure :${allProcedures}"
                    th:value="${procedure.getProcedureID()}"
                    th:text="${procedure.getProcedureName()}">
            </option>
        </select>
    </div>



    <tr>
        <td><input type="submit" value="Save"/></td>
    </tr>
</table>


</form>


</body>
</html>