<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>New Admin Registration</title>
	<link rel="stylesheet" th:href="@{/css/main.css}">

</head>
<body>
<h1>Register New Admin</h1>
<form th:action="@{/admin}" th:object="${admin}" method="post">
	<p>
		Username: <label>
		<input type="text" th:field="*{email}">
	</label>
	</p>
	<p>
		Phone: <label>
		<input type="text" th:field="*{phone}">
	</label>
	</p>
	<p>
		Name: <label>
		<input type="text" th:field="*{name}">
	</label>
	</p>
	<input type="submit" value="Send">
</form>
</body>
</html>