<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>New Customer Registration</title>
</head>
<body>
<h1>Register New Customer</h1>
<form th:action="@{/customer}" th:object="${customer}" method="post">
	<p>
		Username: <label>
		<input type="text" th:field="*{email}">
	</label>
	</p>
	<p>
		Phone: <label>
		<input type="text" th:field="*{phone}">
	</label>
	</p>
	<p>
		Name: <label>
		<input type="text" th:field="*{name}">
	</label>
	</p>
	<input type="submit" value="Send">
</form>
</body>
</html>