<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Customer Car Details</title>
</head>
<body>

<p>
<h2>Customer Car Details</h2>
</p>

<table>
    <thead>
<tr>
    <th align="left" th:text="#{label.customerName}"></th>
    <td  th:text="${customerCar.getCustomerID().getName()}">name</td>
</tr>

<tr>
    <th align="left" th:text="#{label.makeName}"></th>
    <td  th:text="${customerCar.getModelID().getMake().getMakeName()}">name</td>
</tr>
<tr>
    <th align="left" th:text="#{label.modelName}"></th>
    <td  th:text="${customerCar.getModelID().getModelName()}">name</td>
</tr>

<tr>
    <th align="left" th:text="#{label.year}"></th>
    <td  th:text="${customerCar.getYearOfProduction()}">name</td>
</tr>

<tr>
    <th align="left" th:text="#{label.licensePlate}"></th>
    <td  th:text="${customerCar.getLicensePlate()}">name</td>
</tr>

<tr>
    <th align="left" th:text="#{label.VINnumber}"></th>
    <td  th:text="${customerCar.getVINnumber()}">name</td>
</tr>

    </thead>
</table>

<p>
<h2>Car Events</h2>
</p>

<tr th:each="event : ${listCustomerCarEvents}">
    <table>
        <thead>
        <tr>
            <th align="left" th:text="#{label.date}"></th>
            <td  th:text="${event.getDate()}">Date</td>
        </tr>

        <tr th:each="procedure : ${listProcedureVisit}">
            <table>
                <thead th:if="${event.getCarEventID() == procedure.getCarEvent().getCarEventID()}">
                <tr>
                    <th align="left" th:text="#{label.procedure}"></th>
                    <td  th:text="${procedure.getProcedure().getProcedureName()}">Procedure</td>
                </tr>

                <tr>
                    <th align="left" th:text="#{label.price}"></th>
                    <td  th:text="${procedure.getProcedure().getProcedurePrice()}">Price</td>
                </tr>

                </thead>
            </table>

        </tr>

        <tr>
            <th align="left" th:text="#{label.totalPrice}"></th>
            <td  th:text="${event.getTotalPrice()}">TotalPrice</td>
        </tr>




        </thead>
    </table>
    <br>
    <br>
    <br>
</tr>


</body>
</html>