<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Title</title>
    <div th:replace="fragments/components :: head"></div>
</head>
<body>
<footer th:replace="fragments/components :: navbar"></footer>

<br><br><br>

<div class="container body-content">
    <div class="page-header">
        <label class="heading"><h1>All Customers</h1></label>
        <div class="form-group">
            <fieldset>
                <div class="table-responsive">
                    <div class="table-responsive">

                        <table id="customers-table" class="table table-striped table-bordered" cellspacing="0" width="100%">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Phone</th>
                                <th>Role</th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="model : ${allCustomers}">
                                <td th:text="${model.getCustomerId()}"> </td>
                                <td th:text="${model.getName()}"> </td>
                                <td th:text="${model.getEmail()}"> </td>
                                <td th:text="${model.getPhone()}"> </td>
                                <td><span sec:authentication="principal.authorities"/></td>

                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <!--<button th:text="#{label.addProcedure}" class="btn btn-success" id="add-procedure-button" onclick="addProcedure()">Add Procedures</button>-->
            </fieldset>
        </div>
        <hr/>
    </div>
</div>



<br><br>
<footer th:replace="fragments/components :: footer"></footer>
<div th:replace="fragments/components :: js"></div>
<script th:src="@{/js/customers.js}"></script>
</body>
</html>