<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Title</title>
    <div th:replace="fragments/components :: head"></div>
</head>
<body>
<footer th:replace="fragments/components :: navbar"></footer>


<div class="container body-content">
    <div class="page-header">
        <label class="heading"><h1>All Customers</h1></label>
        <div class="form-group">
            <fieldset>
                <div class="table-responsive">
                    <div class="table-responsive">

                        <table id="customers-table" class="table table-striped table-bordered" cellspacing="0" width="100%">
                            <thead>
                            <tr>

                                <th>Name</th>
                                <th>Email</th>
                                <th>Phone</th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="customer : ${allCustomers}">

                                <td th:text="${customer.getName()}"> </td>
                                <td th:text="${customer.getEmail()}"> </td>
                                <td th:text="${customer.getPhone()}"> </td>
                                <!--<td th:each="customerCar : ${allCustomersCars}" th:if="${customer.getCustomerId() == customerCar.getCustomer()}"-->
                                    <!--th:text="${customerCar.getLicensePlate()}"></td>-->

                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <!--<button th:text="#{label.addProcedure}" class="btn btn-success" id="add-procedure-button" onclick="addProcedure()">Add Procedures</button>-->
            </fieldset>
        </div>
        <hr/>
    </div>
</div>




<footer th:replace="fragments/components :: footer"></footer>
<div th:replace="fragments/components :: js"></div>
<script th:src="@{/js/customers.js}"></script>
</body>
</html>