<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Customer Car Details</title>
    <div th:replace="fragments/components :: head"></div>
</head>
<body>
<header th:replace="fragments/components :: navbar"></header>

<p>
<h2>Customer Car Details</h2>
</p>

<table>
    <thead>
<tr>
    <th align="left" th:text="#{label.customerName}"></th>
    <td  th:text="${customerCar.getCustomer().getName()}">name</td>
</tr>

<tr>
    <th align="left" th:text="#{label.makeName}"></th>
    <td  th:text="${customerCar.getModel().getMake().getMakeName()}">name</td>
</tr>
<tr>
    <th align="left" th:text="#{label.modelName}"></th>
    <td  th:text="${customerCar.getModel().getModelName()}">name</td>
</tr>

<tr>
    <th align="left" th:text="#{label.year}"></th>
    <td  th:text="${customerCar.getYearOfProduction()}">name</td>
</tr>

<tr>
    <th align="left" th:text="#{label.licensePlate}"></th>
    <td  th:text="${customerCar.getLicensePlate()}">name</td>
</tr>

<tr>
    <th align="left" th:text="#{label.VINnumber}"></th>
    <td  th:text="${customerCar.getVinNumber()}">name</td>
</tr>

    </thead>
</table>

<p>
<h2>Car Events</h2>
</p>

<tr th:each="event : ${listCustomerCarEvents}">
    <table>
        <thead>
        <tr>
            <th align="left" th:text="#{label.date}"></th>
            <td  th:text="${event.getDate()}">Date</td>
        </tr>

        <tr th:each="procedure : ${event.getProcedures()}">
            <table>

                <tr>
                    <th align="left" th:text="#{label.procedure}"></th>
                    <td  th:text="${procedure.getProcedureName()}">Procedure</td>
                </tr>

                <tr>
                    <th align="left" th:text="#{label.price}"></th>
                    <td  th:text="${procedure.getProcedurePrice()}">Price</td>
                </tr>


            </table>

        </tr>

        <tr>
            <th align="left" th:text="#{label.totalPrice}"></th>
            <td  th:text="${event.getTotalPrice()}">TotalPrice</td>
        </tr>




        </thead>
    </table>
    <br>
    <br>
    <br>
</tr>

<footer th:replace="fragments/components :: footer"></footer>
<div th:replace="fragments/components :: js"></div>
</body>
</html>