<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Customer Car Details</title>
    <div th:replace="fragments/components :: head"></div>
</head>
<body>
<header th:replace="fragments/components :: navbar"></header>

<div class="container">
    <h2>Customer Car Details</h2>
<table class="table table-striped table-dark">
    <tbody>
    <tr>
        <th th:text="#{label.customerName}">Customer Name</th>
        <td th:text="${customerCar.getCustomer().getName()}">Customer Name</td>
    </tr>
    <tr>
        <th th:text="#{label.makeName}">Make</th>
        <td th:text="${customerCar.getModel().getMake().getMakeName()}">Make</td>
    </tr>
    <tr>
        <th th:text="#{label.modelName}">Model</th>
        <td th:text="${customerCar.getModel().getModelName()}">Model</td>
    </tr>
    <tr>
        <th th:text="#{label.year}">Year</th>
        <td th:text="${customerCar.getYearOfProduction()}">Year</td>
    </tr>
    <tr>
        <th th:text="#{label.licensePlate}">License Plate</th>
        <td th:text="${customerCar.getLicensePlate()}">License Plate</td>
    </tr>
    <tr>
        <th th:text="#{label.VINnumber}">VIN</th>
        <td th:text="${customerCar.getVinNumber()}">VIN</td>
    </tr>
    </tbody>
</table>


<h1>Car Events</h1>
<br>

<tr th:each="event : ${listCustomerCarEvents}">
    <table class="table-bordered">
        <thead>
        <tr>
            <th align="left" th:text="#{label.date}"></th>
            <td  th:text="${event.getDate()}">Date</td>
        </tr>

        <tr th:each="procedure : ${event.getProcedures()}">
            <table>
                <tr>
                    <th align="left" th:text="#{label.procedure}"></th>
                    <td  th:text="${procedure.getProcedureName()}">Procedure</td>
                </tr>

                <tr>
                    <th align="left" th:text="#{label.price}"></th>
                    <td  th:text="${procedure.getProcedurePrice()}">Price</td>
                </tr>
            </table>
        </tr>
        <tr>
            <th align="left" th:text="#{label.totalPrice}"></th>
            <td  th:text="${event.getTotalPrice()}">TotalPrice</td>
        </tr>
        </thead>
    </table>

    <br>
    <br>
    <br>
</tr>

</div>
<footer th:replace="fragments/components :: footer"></footer>
<div th:replace="fragments/components :: js"></div>
</body>
</html>