<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Edit Make</title>
</head>
<body>

<p>
<h2>Edit Make</h2>
</p>

<form action="#" th:action="@{'/cars/edit-make/' + ${editMake.getMakeID()}}" th:object="${editMake}" method="post">
    <ul>
        <li th:errors="*{makeName}" style="color: red"/>
    </ul>
    <table>
        <tr>
            <td><label th:text="#{label.makeName}">Make Name</label></td>
            <td><input type="text" th:field="*{makeName}"/></td>
        </tr>

        <tr>
            <td><input type="submit" value="Save"/></td>
        </tr>
    </table>
</form>

</body>
</html>