<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="UTF-8">
	<title>Home Page</title>
</head>
<body>
<h1>Home Page</h1>
<p>Welcome to the home page!!!</p>
<p>
	User:<span sec:authentication="name"/><br/>
	Role(s):<span sec:authentication="principal.authorities"/>
</p>
<form th:action="@{/logout}" method="post">
	<input type="submit" value="Logout">
</form>
<p sec:authorize="hasRole('ADMIN')">
	<a th:href="@{/admin}">Admin Portal</a>
</p>
</body>
</html>