<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <title>Procedures</title>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{https://use.fontawesome.com/releases/v5.5.0/css/all.css}"/>

</head>

<body>

<footer th:replace="fragments/navbar :: navbar"></footer>

<br>
<br>
<br>


<div class="container body-content">
    <div class="page-header">
        <label class="heading"><h1>Procedures Table</h1></label>
        <div class="form-group">
            <fieldset>
                <form action="" class="form-group" method="post">
                    <div class="table-responsive">
                        <div class="table-responsive">

                            <table id="procedures-table" class="table table-striped table-bordered" cellspacing="0" width="100%">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Procedure</th>
                                    <th>Price</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="model : ${procedures}">
                                    <td th:text="${model.getProcedureID()}"> </td>
                                    <td th:text="${model.getProcedureName()}"> </td>
                                    <td th:text="${model.getProcedurePrice()}"> </td>
                                    <td><form>
                                        <button type="submit" class="btn btn-outline-secondary" title="Edit" id="edite-procedure-button">
                                            <i class="far fa-edit"></i> Edit</button >
                                    </form></td>

                                    <td><form th:action="@{'/procedures/' + ${model.getProcedureID()}}" th:object="${procedures}" th:method="delete">
                                        <button type="submit" class="btn btn-danger" title="Delete" id="delete-procedure-button">
                                        <i class="fas fa-trash-alt"></i> Delete</button >
                                    </form></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </form>            <!--END OF FORM ^^-->
                <a th:href="@{procedures/add-procedure}" th:text="#{label.addProcedure}" class="btn btn-success">Add Procedure</a>
            </fieldset>
        </div>
        <hr />
    </div>
</div>


<footer th:replace="fragments/footer :: footer"></footer>



<script th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
<script th:src="@{https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js}"></script>
<script th:src="@{/js/procedures.js}"></script>


</body>
</html>