<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>List of Cars</title>
</head>
<body>

<p>
<h2>List of All Cars</h2>
</p>

<p>
    <a th:href="@{cars/add-make}" th:text="#{label.addMake}">Add Car</a>

</p>
<p>
<a th:href="@{cars/add-car}" th:text="#{label.addCar}">Add Car</a>

</p>

<tr th:each="model : ${carModels}">
    <p>
    <td th:text="${model.getMake().getMakeName()}"> </td>
    <td th:text="${model.getModelName()}"> </td>
</p>


</tr>

</body>
</html>