<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="UTF-8">
	<title>Password Reset</title>
	<link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>
<div sec:authorize="!hasAnyRole('ROLE_USER', 'ROLE_ADMIN')">
	<h3>Team 6 Car Service Password Reset</h3>
	<form th:action="@{password}" th:object="${customerDto}" method="post">
		<p>Username:
			<input type="text" th:field="*{email}">
		</p>
		<input type="submit" value="Reset Password">
	</form>
	<p>
		<a th:href="@{/login}">Login</a>
	</p>
</div>
<div sec:authorize="hasRole('ROLE_USER')">
	<h3>Change password</h3>
	<form th:action="@{/password}" th:object="${customerDto}">
		<p>Password:
			<input type="password" th:field="*{password}">
		</p>
		<p>Confirm password:
			<input type="password" th:field="*{passwordConfirmation}">
		</p>
		<input type="submit" value="Send">
	</form>
	<p>
		<a th:href="@{/}">Home</a>
	</p>
</div>
</body>
</html>