<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="UTF-8">
	<meta sec:authorize="!hasAnyRole('ROLE_USER', 'ROLE_ADMIN')" http-equiv="refresh" content="3;url=/"/>
	<title>Password reset successful</title>
	<link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body id="forgot-password-body">
<div id="reset-password-text-box">
	<h3>Password reset successful</h3>
	<p sec:authorize="!hasAnyRole('ROLE_USER', 'ROLE_ADMIN')">Please click here if
		you are not redirected automatically
		<br>
		<a th:href="@{/login}">Login</a>
	</p>
	<p sec:authorize="hasRole('ROLE_ADMIN')">
		<a th:href="@{/admin-portal}">Homepage</a>
	</p>
	<p sec:authorize="hasRole('ROLE_USER')">
		<a th:href="@{/}">Homepage</a>
	</p>
</div>
</body>
</html>