<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="UTF-8">
	<title>Data Tables Homepage Test</title>
	<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{https://use.fontawesome.com/releases/v5.5.0/css/all.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{https://cdn.datatables.net/buttons/1.5.6/css/buttons.dataTables.min.css}">
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
	<a class="navbar-brand" href="#">Car Service</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
	        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarCollapse">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<a class="nav-link" href="#">Customers</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">Cars</a>
			</li>
			<li class="nav-item">
				<a class="nav-link active" href="#">Procedures</a>
			</li>
		</ul>

		<ul class="nav navbar-nav ml-auto">
			<li class="nav-item">
				<a class="nav-link" href="#"><span class="fas fa-user"></span> Sign Up</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#"><span class="fas fa-sign-in-alt"></span> Login</a>
			</li>
		</ul>

	</div>
</nav>
<br>
<br>
<br>
<div sec:authorize="hasRole('ROLE_ADMIN')" class="container body-content">
	<div class="page-header">
		<label class="heading"><h1>Racing Team 6 Car Service Data</h1></label>
		<div class="form-group">
			<fieldset>
				<form action="" class="form-group" method="post">
					<div class="table-responsive">
						<div class="table-responsive">

							<table id="admin-homepage-table" class="table table-striped table-bordered" cellspacing="0" width="100%">
								<thead>
								<tr>
									<th>Customer</th>
									<th>Car</th>
									<th>Plate Number</th>
									<th>VIN number</th>
								</tr>
								</thead>
								<tbody>
								<tr th:each="car : ${customerCars}">
									<td th:text="${car.getCustomer().getName()} + ', ' + ${car.getCustomer().getPhone()} + ', ' + ${car.getCustomer().getEmail()}"></td>
									<td th:text="${car.getModel().getMake().getMakeName()} + ${car.getModel().getModelName()} + ${car.getYearOfProduction()}"> </td>
									<td th:text="${car.getLicensePlate()}"> </td>
									<td th:text="${car.getVinNumber()}"> </td>
								</tr>
								</tbody>
							</table>
						</div>
					</div>
				</form>            <!--END OF FORM ^^-->
				<!--<a th:href="@{procedures/add-procedure}" th:text="#{label.addProcedure}" class="btn btn-success">Add Procedure</a>-->
			</fieldset>
		</div>
		<hr />
	</div>
</div>
<div sec:authorize="!hasRole('ROLE_ADMIN')" class="container body-content">
	<div class="page-header">
		<label class="heading"><h1>Racing Team 6 Car Service Data</h1></label>
		<div class="form-group">
			<fieldset>
				<form action="" class="form-group" method="post">
					<div class="table-responsive">
						<div class="table-responsive">

							<table id="user-homepage-table" class="table table-striped table-bordered" cellspacing="0" width="100%">
								<thead>
								<tr>
									<th>Car</th>
									<th>Plate Number</th>
									<th>VIN number</th>
								</tr>
								</thead>
								<tbody>
								<tr th:each="car : ${customerCars}">
									<td th:text="${car.getModel().getMake().getMakeName()} + ' ' + ${car.getModel().getModelName()} + ', ' + ${car.getYearOfProduction()}"> </td>
									<td th:text="${car.getLicensePlate()}"> </td>
									<td th:text="${car.getVinNumber()}"> </td>
								</tr>
								</tbody>
							</table>
						</div>
					</div>
				</form>            <!--END OF FORM ^^-->
				<!--<a th:href="@{cars/add-car}" th:text="#{label.addCar}" class="btn btn-success">Add Car</a>-->
				<!--<a th:href="@{procedures/add-procedure}" th:text="#{label.addProcedure}" class="btn btn-success">Add Procedure</a>-->
			</fieldset>
		</div>
		<hr />
	</div>
</div>
<script th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
<script th:src="@{https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js}"></script>
<script th:src="@{/js/test.js}"></script>
</body>
</html>